.body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    /* align-items: center; */
    color: black;
}

body, html {
    height: 100%;
}

.pic-container2 {
    display: none;
}

.pic-container, .pic-container-signup{
    height: 900px;
    width: auto;
}

.pic-container-signup {
    opacity: 0.9;
}

.pic-container img {
    height: 100%;
    width: auto;
    opacity: 0.7;
}

.heading-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 0px;
}

.heading-login h1 {
    margin: 0px;
    text-transform: capitalize;
    font-size: 25px;
    margin-top: 35px;
    color: #00302E;
    margin-bottom: 40px;
    cursor: default;
}

.heading-login a{
    text-decoration: none;
}

.logodiv-login {
    width: 35px;
    height: auto;
}

.logodiv-login img {
    width: 100%;
    height: auto;
}
.welcome-back-text{
    margin-bottom: 70px;
}

.login-details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin-left: 30px;
    /* background-color: aqua; */
}

.heading-login h1:hover {
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 40px 0px;
    width: 80%;
    position: relative;
    margin-bottom: 20px;
}

form input {
    width: 92%;
    height: 50px;
    padding: 0px 15px;
    font-size: 17px;
    background: rgba(255, 255, 255, 0.83);
    border: 3px solid rgba(251, 221, 187, 0.51);
    border-radius: 5px;
}

form input:focus {
    outline: none !important;
    border: 1px solid rgba(194, 190, 186, 0.51);
    box-shadow: 0px 0px 5px 3px rgba(194, 190, 186, 0.51);
}

form button {
    width: 100%;
    height: 50px;
    padding: 0px 15px;
    font-size: 17px;
    border: 1px solid #00302E;
    border-radius: 5px;
    background-color: #00302E;
    color:#E2B887;
    font-weight: 600;
    cursor: pointer;
}

form button:hover{
    opacity: 0.9;
    transition: all 0.4s ease-in-out;
}

.show {
    position: absolute;
    right: 20px;
    bottom: 91px;
    font-weight: bold;
    color: #00302E;
    cursor: pointer;
}

.coast {
    display: flex;
    width: 77%;
    flex-direction: row;
    justify-content: space-between;
}

.coast p {
    color: #00302E;
    font-weight: 600;
    cursor: pointer;
}

.coast a {
    color: #00302E;
    font-weight: 600;
    text-decoration: none;
}

.home a{
    color: #00302E;
    text-decoration: none;
}

.home a:hover{
    text-decoration: underline;
    transition: 630ms;
    opacity: 0.8;
}

.coast span a{
    font-weight: 800;
}

.coast span {
    text-align: center;
    margin-left: 25%;
}

@media screen and (max-width:1460px) {
    .body {
        gap: 0px;
    }

    .pic-container, .pic-container-signup{
        height: 900px;
        width: auto;
    }
    
    .pic-container img, .pic-container-signup img {
        height: 100%;
        width: auto;
        opacity: 0.7;
    }

    .coast span a{
        color: #00302E;
    }
    
    .coast span {
        color: #00302E;
    }
}

/* RESPONSIVENESS */

@media screen and (max-width:1413px) {
    .pic-container {
        /* height: 100%; */
        width: 700px;
        background: url('../assets/loginpic.png');
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.7;
    }

    .pic-container-signup {
        width: 700px;
        background: url('../assets/signuppic.png');
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.7;
    }

    .login-details-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 550px;
        margin-left: 0px;
        /* background-color: aqua; */
    }

    .pic-container img {
        display: none;
    }

    .pic-container-signup img {
        display: none;
    }

    .body {
        justify-content: space-between;
        gap: 0px;
        padding-right: 40px;
    }
    
}

@media screen and (max-width:1310px) {
    .body {
        padding-right: 0px;
    }
}

@media screen and (max-width:1268px) {
    /* .pic-container img {
        display: block;
    } */

    .pic-container {
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        position: fixed;
        background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url('../assets/loginpic.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        opacity: 1;
    }

    .pic-container-signup {
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        position: fixed;
        background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url('../assets/signuppic.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        opacity: 1;
    }

    .login-details-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        /* background-color: red; */
        padding-top: 30px;
        margin-left: 0px;
    }

    .welcome-back-text{
        color: #fff;
        margin-bottom: 20px;
    }

    .heading-login h1 {
        color: #fff;
        margin: 0px 0px;
    }

    .coast p, a, .home a{
        color: #E2B887;
    }

    .coast span, .coast span a{
        color: #E2B887;
    }

    form {
        margin-top: 20px;
    }

    .pic-container2 img {
        width: 100%;
        height: 100%;
        opacity: 1;
    }


}

@media screen and (max-width:1000px) {
    .login-details-container {
        width: 80%;
    }
}

@media screen and (max-width:770px) {
    .show {
        right: 7px;
        bottom: 90px;
    }

    .coast span {
        margin-left: 50px;
    }

    .body {
        overflow: hidden;
    }

    form input {
        height: 37px;
    }
}

/* SMALLER SCREENS */
@media screen and (max-width:425px){
   .welcome-back-text {
    font-size: 18px;
   }

   .heading-login h1{
        font-size: 15px;
   }

   .logodiv-login {
        width: 25px;
        height: auto;
        margin-right: 0px;
    }

    .heading-login {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        margin-bottom: 0px;
    }

    form input::placeholder{
        font-size: 14px;
    }

    form input{
        height: 35px;
        width: 90%;
        font-size: 13px;
    }

    form button {
        width: 100%;
        height: 40px;
        font-size: 14px;
    }

    .coast a, p {
        font-size: 12px;
    }

    .home a {
        font-size: 12px;
    }

    .login-details-container {
        width: 100%;
    }

    .show {
        position: absolute;
        right: 12px;
        bottom: 65px;
    }

    form {
        gap: 20px 0px;
        margin-top: 20px;
    }

    .coast span {
        margin-left: 70px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 13px;
    }
}  

@media screen and (max-width: 380px) {
    .coast span {
        margin-left: 50px;
    }
}